.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/storage/
test/dummy/tmp/
/.byebug_history
*.gem

test/dummy/public/packs
test/dummy/public/packs-test
test/dummy/node_modules
test/dummy/db/migrate

test/dummy/app/javascript/zaikio/node_modules
Gemfile.lock
