<h1>Welcome to the Warehouse!</h1>
<% unless Current.user %>
  To process, please
  <%= link_to 'Login via ZAIKU Directory OAuth', login_path %>
<% else %>
  Logged in: <%= Current.user.email %>
  <p>
    <%= render Current.user %>
  </p>
  <p>
    <%= link_to 'Logout', logout_path %>
  </p>
<% end %>
