%h1 Welcome to the Dummy App!
- unless Current.user
  To process, please
  \#{link_to 'Login via ZAIKU Directory OAuth', zaiku.new_session_path}
- else
  Logged in: #{Current.user.email}
  %p
    = render Current.user
  %p
