<tr>
  <td><%= person.first_name %></td>
  <td><%= person.name %></td>
  <td><%= person.email %></td>
  <td>
    <ul>
    <% person.organizations.each do |organization| %>
      <li><%= render organization %></li>
    <% end %>
    </ul>
  </td>
<tr/>
