= content_for :sidebar do
  .sidebar-navigation
    = link_to 'Overview', '/icons', class: @page == 'index' && 'is-active'
    = link_to 'Basics', '/icons/basics', class: @page == 'basics' && 'is-active'
    = link_to 'Cheatsheet', '/icons/cheatsheet', class: @page == 'cheatsheet' && 'is-active'
