%h1 Forms

.tiles
  = link_to 'forms/inputs', class: 'tile tile--gray' do
    .tile__caption Inputs
    %p Enter text, numbers and other things.

  = link_to 'forms/checkboxes', class: 'tile tile--gray' do
    .tile__caption Check- & Radioboxes
    %p When in doubt, choose an option.

  = link_to 'forms/selects', class: 'tile tile--gray' do
    .tile__caption Selects
    %p How many ways to select something could there possibly be?

