= render 'pages/forms/sidebar'

%h1 Select boxes

.field-set
  .field
    = select_tag 'foo', options_for_select([['foo', '1'], ['foo2', '2'], ['foo3', '3']])

  .field
    = label_tag 'Last name'
    = select_tag 'foo', options_for_select([['foo', '1'], ['foo2', '2'], ['foo3', '3']])