= form_with model: Zaikio::Person.new, url: elements_path do |form|
  .modal__title
    Example Modal Form

  .modal__content
    = render partial: 'form', locals: { form: form }

  .modal__buttons
    = form.cancel
    = form.submit
