%h2.u-margin-big-bottom Organization Header

.header-box
  .image--organization.header-box__avatar
  .row
    .row__col
      .header-box__caption Lorem ipsum

      .u-gray
        .u-bold Print shop with 12 members, 2 sites and lots of love

    .row__col.u-right
      = link_to_modal 'Edit', '#', class: 'btn btn--thin'

  .u-clearfix
  .tabs.tabs--in-header
    = link_to 'Link 1', '#', class: 'is-active'
    = link_to 'Link 2', '#'
