version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.6.6-node
        environment:
          PGHOST: 127.0.0.1
          PGUSER: circleci
          RAILS_ENV: test
      - image: circleci/redis:3.2-alpine
      - image: circleci/postgres:11
        environment:
          POSTGRES_USER: circleci
          POSTGRES_DB: zaikio_oauth_client_test
          POSTGRES_PASSWORD: ""
          POSTGRES_HOST_AUTH_METHOD: trust

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            gem install bundler:2.1.4 && bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      - restore_cache:
          keys:
            - yarn-{{ checksum "test/dummy/yarn.lock" }}
      - run: echo "//npm.pkg.github.com/:_authToken=$BUNDLE_RUBYGEMS__PKG__GITHUB__COM" >> ~/.npmrc
      - run: echo "@crispymtn:registry=https://npm.pkg.github.com" >> ~/.npmrc
      - run: yarn install --cache-folder ~/.cache/yarn
      - save_cache:
          key: yarn-{{ checksum "test/dummy/yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - run: bundle exec rake webpacker:compile
      - save_cache:
          key: webpack-{{ .Revision }}
          paths:
            - /home/circleci/project/public/packs-test/

      - run: sudo apt install postgresql-client
      - run: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run: bundle exec rake db:create
      - run: bundle exec rake db:schema:load
      # run tests!
      - run:
          name: run tests
          command: |
            bundle exec rake test
