= render 'pages/common/sidebar'

%h1 Boxes
%p
  Boxes give users some guidance on what to expect when an action is triggered.
  Use it with <code>.box</code> and a modifier of your choice.

%h2 Examples
.box.box--warning
  %strong Watch out!
  It's an alert box using <code>.box--alert</code>

.box.box--info
  %strong How about some infos?
  Then use <code>.box--info</code>

.box.box--info.box--shrink
  %strong I feel shrinky!
  With <code>.box--shrink</code>
