= render 'pages/common/sidebar'

%h1 Buttons
A standard button always uses the <code>.btn</code> class.
This can be omitted when using the <code>button</code> tag

.u-margin-reg-top.u-margin-reg-bottom
  .btn Foobar

%h2 Alternatives
%table
  %tr
    %td
      %code .btn--positive
    %td
      .btn.btn--positive Foobar
    %td
      Use when an action is positive or shall be highlighted
  %tr
    %td
      %code .btn--negative
    %td
      .btn.btn--negative Foobar
    %td
      Use when an action is destructive or dangerous
  %tr
    %td
      %code .btn--soft
    %td
      .btn.btn--soft Foobar
    %td
      Use when an action is secondary to another button (eg. cancel)

  %tr
    %td
      %code .btn--outline
    %td
      .btn.btn--outline Foobar
    %td
      Use when an action is secondary to another button (eg. cancel)

%h2 Modifiers and States
%table 
  %tr
    %td
      %code .btn--thin
    %td
      .btn.btn--thin Foobar
    %td
      Use when an action is secondary to another button (eg. cancel)
  %tr
    %td
      %code .btn--100
    %td
      .btn.btn--100 Foobar
  %tr
    %td
      %code .is-disabled
    %td
      .btn.is-disabled Foobar