%h1 Common elements

.tiles
  = link_to 'common/buttons', class: 'tile tile--gray' do
    .tile__caption Buttons
    %p Learn more about buttons and how to use them

  = link_to 'common/tables', class: 'tile tile--gray' do
    .tile__caption Tables
    %p Crazy little tables for collections and stuff

  = link_to 'common/boxes', class: 'tile tile--gray' do
    .tile__caption Boxes
    %p I say boxes, you say alerts and infos!

  = link_to 'common/tiles', class: 'tile tile--gray' do
    .tile__caption Tiles
    %p Congrats, you just read text on a tile!