= render 'pages/common/sidebar'

%h1 Tables

%p
  Tables shall always follow the following pattern. If there is no <code>thead</code>,
  then <code>tbody</code> can also be ommited.

-# Rules to follow:

-#     Align textual data to the left (ie. Name)
-#     Align numeric data not related to size (ie. date, zip code, phone number)
-#     Align numeric data related to size (ie. count, percent)
-#     Align headers according to their column data

%table.table--valign-top
  %thead
    %tr
      %th Element
      %th Modifier
      %th Description
  %tbody
    %tr
      %td{ rowspan: 2 }
        %code table
      %td
        %code .table--full
      %td
        Spans table across stage

    %tr
      %td
        %code .table--valign-top
      %td
        All text is vertical aligned at top

    %tr
      %td{ rowspan: 2 }
        %code tr
      %td
        %code .is-active
      %td
        Use, when a row shall be selected
    %tr
      %td
        %code .is-highlighted
      %td
        Use, when a row is highlighted (e.g. after it was added)

    %tr
      %td{ rowspan: 3 }
        %code td, th
      %td
        %code .td--shrink
      %td
        Shrinks table cell to match content's width
    %tr
      %td
        %code .td--highlight-positive
      %td
        Highlights a cell in green
    %tr
      %td
        %code .td--highlight-negative
      %td
        Highlights a cell in red


%h2 Examples

%table
  %thead
    %tr
      %th Foo
      %th Bar
      %th.u-right Bazz
  %tfoot
    %tr
      %td Foo
      %td Bar
      %td.u-right Bazz
  %tbody
    %tr
      %td Foo
      %td Bar
      %td.u-right Bazz
    %tr
      %td Foo
      %td Bar
      %td.td--highlight-positive.u-right + 10%
    %tr
      %td Foo
      %td Bar
      %td.td--highlight-negative.u-right - 5%

%table.table--header-col.u-margin-big-top
  %tbody
    %tr
      %td Foo
      %td Bar
      %td.u-right Bazz
    %tr
      %td Foo
      %td Bar
      %td.u-right Bazz
    %tr
      %td Foo
      %td Bar
      %td.u-right Bazz

%pre
  %code
    :preserve
      %table.table--v-align-top
        %thead
          %tr
            %th Foo
            %th Bar
            %th.u-right Bazz
        %tfoot
          %tr
            %td Foo
            %td Bar
            %td.u-right Bazz
        %tbody
          %tr
            %td Foo
            %td Bar
            %td.u-right Bazz

