= render 'pages/common/sidebar'

%h1 Tiles

.tiles
  .tile
    %h2 Standard
    This is a standard <code>.tile</code>
  .tile.tile--gray
    %h2 Gray
    With <code>.tile--gray</code>
  .tile.tile--black
    %h2 Black
    With <code>.tile--black</code>