= content_for :sidebar do
  .sidebar-navigation
    = link_to 'Overview', '/helpers', class: @page == 'index' && 'is-active'
    = link_to 'Tooltips', '/helpers/tooltips', class: @page == 'tooltips' && 'is-active'
