%h2 Autocomplete

= form_with model: Zaiku::Person.new, url: elements_path do |form|
  .field
    = form.label :email
    = form.autocomplete :email,
      url: autocomplete_elements_path,
      value_label: form.object.email,
      autofocus: true,
      submit: false
