%h1 General

.tiles
  = link_to 'general/intro', class: 'tile tile--gray' do
    .tile__caption Introduction
    %p Who do I build great apps for Zaikio?

  = link_to 'general/patterns', class: 'tile tile--gray' do
    .tile__caption Basic UI patterns
    %p A little guidance the most common pattern when building views.

  = link_to 'general/flashes', class: 'tile tile--gray' do
    .tile__caption Good Flashes
    %p When and how to use flashes.

  = link_to 'general/modals', class: 'tile tile--gray' do
    .tile__caption Modals
    %p When to use what kind of modal?