= content_for :sidebar do
  .sidebar-navigation
    = link_to 'Overview', '/components', class: @page == 'index' && 'is-active'
    = link_to 'Tags', '/components/tags', class: @page == 'tags' && 'is-active'
    = link_to 'Tooltips', '/components/tooltips', class: @page == 'tooltips' && 'is-active'
