.table-list__row
  .table-list__col.table-list__col--shrink
    .image.image--small.image--app
  .table-list__col
    %strong= operator.name

  .table-list__col
    .u-gray= operator.created_at
    .u-gray= operator.updated_at
